/* Karas Dental Colors:
   green: #629943,
   blue: #4a5d82
*/

body {
  padding-top: 50px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img{
  width:120px;
  z-index:100;
}

#home { 
  width:100%;
  height:100%;
  background-color:rgba(255,255,255, 0);
  color: white;
  text-shadow:0px 0px 10px black;
  text-align: center;
  margin-top: 100px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#locations-right {
  display: none;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #locations-dropdown {
    display:none;
  }
  #locations-right {
    display: block;
  }
  h1 {
    font-size: 96px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-brand {
    margin-top: -15px;
  }
  .navbar-brand > img {
    width: 180px;
  }
  .navbar-fixed-top {
    padding: 25px;
  }
}