/* karas dental 
    colors:
    blue: #073f70
    green: #5b7723
    */
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        font-size: 14px;
        line-height: 1.42857143;
    }

.page {
    display:none;
}

.active {
    display:block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
h2 small{
    font-size: 65%;
}
small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

body {
    display: grid;
    grid-template-rows: auto 600px auto;
    /*   header sidebar footer (heights)  */
    grid-template-columns: 250px auto;
    /* sidebar container (widths) */ 
    /*font-family: 'Merriweather', serif;
    font-family: 'Trirong', serif;*/
}

header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: auto 50px;

    /*head nav */
}

.navbar>ul {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
}

.navbar>ul>li {
    position: relative;
    border-radius: 2px;
    border: 1px solid rgb(83, 115, 201);
}
.navbar>ul>li>a{
    text-align: center;
    text-decoration:none;   
    text-transform: uppercase;
    position:absolute;
    width:100%;
    height:100%;

}
.navbar>ul>li>a>span{
    /* display:table-cell; */
    position: relative;
    /* vertical-align:middle; */
    top: 25%;
    /* margin: auto auto; */
}
.head {
    display: inline-grid;
    grid-template-columns: auto 50%;
    /* logo info */
}

.moto {
    margin-top: 125px;
    font-size: 2.2em;
}

.logo {
    /*animation: fadein 2s;*/
}

.info {
    color: #073f70;
    font-family: 'Trirong', serif;
}

.sidebar {
    border-radius: 0% 100% 12% 88% / 0% 88% 12% 100%;
    grid-row: 2 / span 2;
    max-height: 250px;
    /* background-image: linear-gradient(-225deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 40%, rgba(0, 255, 255, 0) 60%, #0ff 100%), linear-gradient(45deg, #3023AE 0%, #FF0099 100%); */
}
.container {
    grid-column: 2 / 3;
    margin: 20px;
}


.team-member {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    margin: 25px;
}

.team-member > .image {
    grid-row: 1/ span 2;
    height:100%;
    max-height:375px;

}
.team-member > .image > img{
    max-width: 100%;
}
.locations{
    display:grid;
    grid-auto-columns: 33%;
}  

.locations>h3{
    text-align: center;
    grid-column: 1/ span 3;
}

@media (max-width: 1600px) {
    body {
        grid-template-rows: auto 600px auto;
        /*   header sidebar footer (heights)  */
        grid-template-columns: 100px auto;
        /* sidebar container (widths) */
    }
}

@media (max-width: 900px) {
    .head {
        grid-template-columns: auto;
        /* logo info */
        grid-auto-flow: row;
    }
    .moto {
        margin-top: 0px;
        text-align: center;
    }
}

@media (max-width: 720px) {

    body {
        grid-template-rows: auto 600px auto;
        /*   header sidebar footer (heights)  */
        grid-template-columns: 0px auto;
        /* sidebar container (widths) */
    }
    header {
        grid-template-rows: auto auto;
        /* head nav */
    }
    .navbar>ul {
        grid-auto-flow: row;
    }
    .navbar>ul>li {
        min-height: 50px;
    }
    .sidebar>ul {
        display: none;
    }


    .team-member > .image {
        grid-row: 1/1;
    }
    .team-member > .bio {
        grid-column: 1 / span 2;
    }
    .team-member > .image > img{
        max-width: 100%;
        height: auto;
    }
}